@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2B2B2B;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

#more {
    /* font-size: 2.5rem; */
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}


.job-posting-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    margin-top: 20px;
  }
  
  .job-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    height: 80px;
  }
  
  .submit-button {
    background-color: #A259FF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #A259FF;
  }
  
  html {
    background-color: #2B2B2B;
  }

  .more-company-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .more-company-text {
    color: #fff;
    font-size: 1.5rem;
    order: 1; /* Change the order of the element */
    margin-left: 15%; /* Move the text to the right */
  }
  
  .go-to-company-button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    
    width: 267px;
    height: 60px;
    
    /* Call to Action */
    border: 2px solid #A259FF;
    border-radius: 20px;
    background-color: var(--bg-color);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    /* Additional styles */
    color: #A259FF;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    order: 2; /* Change the order of the element */
    margin-right: 15%; /* Move the button to the left */
  }
  
  .go-to-company-button:hover {
    background-color: #A259FF;
    color: #fff;
  }